

header{
    .tab-pc-nav{
        display: none;
    }
    background: rgb(4,3,14);
background: -moz-linear-gradient(73deg, rgba(4,3,14,0.7374300061821604) 24%, rgba(40,49,63,0.8886905103838411) 55%);
background: -webkit-linear-gradient(73deg, rgba(4,3,14,0.7374300061821604) 24%, rgba(40,49,63,0.8886905103838411) 55%);
background: linear-gradient(73deg, rgba(4,3,14,0.7374300061821604) 24%, rgba(40,49,63,0.8886905103838411) 55%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04030e",endColorstr="#28313f",GradientType=1);
    text-align: center;
    position: sticky;
    width: 100%;
    z-index: 999;
    padding: 2rem 0;
    .logo{
        // border: 2px solid;
        a{
            text-decoration: none;
            color: white;
            font-size: 2.5rem;

        }
    }
    .nav-toggle{
        display: none;
    }
    #nav-toggle:checked ~ *.mobile__nav{
        visibility: visible;
        background: #000;
    }
    .nav-toggle-lebel span {
        position: absolute;
        top: -15px;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border: 2px solid rgb(226, 184, 107);
    }
    .nav-toggle-lebel span ,
    .nav-toggle-lebel span::before,
    .nav-toggle-lebel span::after{
        display: block;
        background: #fff;
        height: 2px;
        width: 2rem;
        border-radius: 2px;
        position: relative;
    }
    .nav-toggle-lebel span::before,
    .nav-toggle-lebel span::after{
        content: '';
        position: absolute;
    }
    .nav-toggle-lebel span::before{
        top: 7px;
    }
    .nav-toggle-lebel span::after{
        bottom: 7px;
        
    }

    
    .mobile__nav{
        position: absolute;
        text-align: left;
        left: 0;
        top: 100%;
       
        padding: 1.5rem 3rem;
        visibility: collapse;
        transition: visibility  ease-in-out;

        &-nav-item-list{
            list-style: none;
            
            :active{
                background-color: #fff;
                padding: .5rem 1rem;
            }
            .mobile__nav-nav-item+.mobile__nav-nav-item{
                margin-top: .75rem;
               
            }
            .mobile__nav-nav-item{
                a{
                    text-decoration: none;
                    color: rgb(151, 131, 131);
                    font-size: 2rem;
                    
                }
            }
        }
        
    }
    
}

.home-footer{
    background-color: #222;
    height: 20vh;
    display: flex;
    align-items: center;
    p{
        color: azure;
        font-size: 2.3rem;
        text-align: center;
        
    }
    
}
