.home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;

    .home-title{
        font-size: 5rem;
        text-transform: capitalize;
        text-align: center;
        // border: 2px solid;
        color: #cae6eb;
        @media (min-width:650px){
            font-size: 8rem;

        }
    }

    a{
        display: inline-block;
        margin-top: 3.5rem;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 900;
        background: rgb(52, 53, 85);
        color: white;
        
    }
    .btn{
        &:hover{
            background-color: none;
            background-color: rgba(14, 1, 1, 0.562);
            color: whitesmoke;
        }
    }
}