@import './mobile__view';
@import './_media__query';
@import './section-home';

// common styles 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(https://tinyurl.com/38mmz2fb);
    background-position: center;
    background-color: rgba(26, 6, 6, 0.52);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1128px;
    
}
img{
    max-width: 100%;
    // border: 2px solid snow;
}
.btn{
    border: 1px solid whitesmoke;
    padding: .75rem 2rem;
    border-radius: 25px;
    &:hover{
        background-color: transparent;
        color: rgb(190, 183, 183);
        border: 1px solid rgba(197, 197, 197, 0.486);
        transition: all 300ms ;

    }
}