header {
  background: #04030e;
  background: linear-gradient(73deg, rgba(4, 3, 14, 0.73743) 24%, rgba(40, 49, 63, 0.888691) 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04030e",endColorstr="#28313f",GradientType=1);
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 999;
  padding: 2rem 0;
}

header .tab-pc-nav {
  display: none;
}

header .logo a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

header .nav-toggle {
  display: none;
}

header #nav-toggle:checked ~ *.mobile__nav {
  visibility: visible;
  background: #000;
}

header .nav-toggle-lebel span {
  position: absolute;
  top: -15px;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #e2b86b;
}

header .nav-toggle-lebel span,
header .nav-toggle-lebel span::before,
header .nav-toggle-lebel span::after {
  display: block;
  background: #fff;
  height: 2px;
  width: 2rem;
  border-radius: 2px;
  position: relative;
}

header .nav-toggle-lebel span::before,
header .nav-toggle-lebel span::after {
  content: '';
  position: absolute;
}

header .nav-toggle-lebel span::before {
  top: 7px;
}

header .nav-toggle-lebel span::after {
  bottom: 7px;
}

header .mobile__nav {
  position: absolute;
  text-align: left;
  left: 0;
  top: 100%;
  padding: 1.5rem 3rem;
  visibility: collapse;
  -webkit-transition: visibility  ease-in-out;
  transition: visibility  ease-in-out;
}

header .mobile__nav-nav-item-list {
  list-style: none;
}

header .mobile__nav-nav-item-list :active {
  background-color: #fff;
  padding: .5rem 1rem;
}

header .mobile__nav-nav-item-list .mobile__nav-nav-item + .mobile__nav-nav-item {
  margin-top: .75rem;
}

header .mobile__nav-nav-item-list .mobile__nav-nav-item a {
  text-decoration: none;
  color: #978383;
  font-size: 2rem;
}

.home-footer {
  background-color: #222;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-footer p {
  color: azure;
  font-size: 2.3rem;
  text-align: center;
}

@media (min-width: 650px) {
  header {
    text-align: left;
  }
  header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo a {
    font-size: 3rem;
    width: 100%;
  }
  header .nav-toggle-lebel span {
    display: none;
  }
  header .tab-pc-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .tab-pc-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .tab-pc-nav ul li + li {
    margin-left: 4rem;
  }
  header .tab-pc-nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 100%;
}

.home-section .home-title {
  font-size: 5rem;
  text-transform: capitalize;
  text-align: center;
  color: #cae6eb;
}

@media (min-width: 650px) {
  .home-section .home-title {
    font-size: 8rem;
  }
}

.home-section a {
  display: inline-block;
  margin-top: 3.5rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 900;
  background: #343555;
  color: white;
}

.home-section .btn:hover {
  background-color: none;
  background-color: rgba(14, 1, 1, 0.562);
  color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(https://tinyurl.com/38mmz2fb);
  background-position: center;
  background-color: rgba(26, 6, 6, 0.52);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1128px;
}

img {
  max-width: 100%;
}

.btn {
  border: 1px solid whitesmoke;
  padding: .75rem 2rem;
  border-radius: 25px;
}

.btn:hover {
  background-color: transparent;
  color: #beb7b7;
  border: 1px solid rgba(197, 197, 197, 0.486);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
/*# sourceMappingURL=style.css.map */